@import "RESET.less";
@import "elements.less"; 

/* colors */
@red: #FF2851;
@black: #303030;
@white: #FFFFFF;
@grey: #999999;
@blue: #0076FF;
@light_blue: #54C7FC;
@orange: #FF9600;
@green: #44DB5E;
@light_grey: #D1D1D1;
@light_white: #F7F7F7;

html, body {
    height: 100%;
}

body { 
    min-width:1200px;
    .flex-display(@display: flex);
    .flex-direction(@direction: column);
    font-family: 'Roboto', sans-serif;
    .box-sizing(@sizing: border-box);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    * {
        font-family: 'Roboto', sans-serif;
        .box-sizing(@sizing: border-box);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    *:focus {
        outline: none;
    }
    a {
        text-decoration: none;
    }
    button {
        border:none;
        outline:none;
    }
}

.center {
    width:100%;
    max-width:1466px;
    padding:0px 15px;
    margin:0 auto;
}

/* header */
.header {
    background:#F7F7F7;
    .flex-shrink(@shrink: 0);
    padding:22px 0px;
    .center {
        .flex-display(@display: flex);
        .justify-content(@justify: space-between);
        .align-items(@align: center);

        .logo {
            .flex-basis(@width: 21.58774373259053%); /* 310 1436 */
            width:21.58774373259053%;
            min-width:21.58774373259053%;
            svg {
                display:inline-block;
                vertical-align:middle;
                margin-right:10px;
            }
            span {
                font-size: 24px;
                line-height:24px;
                color: @black;
                display:inline-block;
                vertical-align:middle;
            }            
        }

        .right_side {
            .flex-display(@display: flex);
            .flex-basis(@width: 72.98050139275766%); /* 1048 1436 */
            width:72.98050139275766%; 
            min-width:72.98050139275766%;
            .justify-content(@justify: space-between);
            .align-items(@align: center);

            .action_btn {
                .btn {
                    svg {
                        display:inline-block;
                        vertical-align:middle;
                        margin-right:5px;
                    }
                    span {
                        font-size: 18px;
                        line-height:18px;
                        color: @red;
                        display:inline-block;
                        vertical-align:middle;
                    }
                }
            }

            .nav {
                .flex-display(@display: flex);
                .align-items(@align: center);

                .btn {
                    margin-right:40px;
                    color:@red;
                    font-size:18px;
                    position:relative;
                    &.act {
                        &:before {
                            content:'';
                            display:block;
                            width:100%;
                            height:2px;
                            position:absolute;
                            left:0px;
                            bottom:-5px;
                            background:@red;
                        }
                    }
                }
            }
        }
    }
}

.container {
    padding-top:42px;
    .flex-grow(@grow: 1);
    .flex-shrink(@shrink: 0);
    .flex-basis(@width: auto);

    .flex-display(@display: flex); 

    .center {
        .flex-display(@display: flex); 
        .flex-grow(@grow: 1);
        .flex-shrink(@shrink: 0);
        .justify-content(@justify: space-between);

    }

    .sidebar {
        .flex-basis(@width: 21.58774373259053%); /* 310 1436 */
        width:21.58774373259053%;
        min-width:21.58774373259053%;
    }
    .content {
        .flex-basis(@width: 72.98050139275766%); /* 1048 1436 */
        width:72.98050139275766%; 
        min-width:72.98050139275766%;
        position:relative;
    }
}

.bottom_label {
    position:fixed;
    left:50%;
    .translate(@x:-50%);
    bottom:40px;
    background:@black;
    font-size:18px;
    line-height:32px;
    color:@white;
    padding:13px 31px 15px 31px;
    z-index:9;
    .link {
        color:@white;
        text-decoration:none;
        cursor:pointer;
        position:relative;
        &:before {
            content:'';
            display:block;
            width:100%;
            height:2px;
            background:@white;
            position:absolute;
            left:0px;
            bottom:0px;
        }
    }
}

.centered_block {
    position:absolute;
    left:50%;
    top:50%;
    .translate(@x:-50%,@y:-50%);
    text-align:center;
    margin-top:-80px;
    .reports__error {
        figure {
            margin-bottom:11px;
        }
        p {
            color:@black;
            font-size:14px;
        }
    }
    .reports__success {
        p {
            color:@black;
            font-size:14px;
            line-height:20px;
            margin-bottom:12px;
        }
    }
}

/* sidebar */
/* notice */
.sidebar {
    .notice {
        padding-top:66px;
        figure {
            margin-bottom:15px;
        }
        p {
            line-height: 23px;
            font-size: 14px;
            margin-bottom:23px;
            color:@light_grey;
        }
    }
    .event {
        &__title {
            font-size:14px;
            color:@grey;
            margin-bottom:38px;
        }
        &__date {
            margin-bottom:22px;
            &__item {
                color:@black;
                font-size:24px;
                margin-bottom:18px;
                &:last-child {
                    margin-bottom:0px;
                }
                position:relative;
                padding-left:44px;
            }
            .day {
                &:before {
                    content:'';
                    display:block;
                    width:30px;
                    height:30px;
                    .rounded(50%);
                    position:absolute;
                    left:0px;
                    top:-5px;                    
                }
                &__green {                    
                    &:before {
                        background:@green;
                    }                                                            
                }
                &__orange {                    
                    &:before {
                        background:@orange;
                    }                    
                }
                &__blue {                    
                    &:before {
                        background:@blue;
                    }                    
                }
                &__light_blue {                    
                    &:before {
                        background:@light_blue;
                    }                    
                }
            }
            .editable_time {
                .input {
                    display:inline-block;
                    width:27px;
                    color:@grey;
                    .placeholder(@light_grey);
                    font-size:24px;
                    float:left;
                }
                span {
                    float:left;
                    margin-right: 3px;
                    position:relative;
                    top:2px;                    
                }
            }
        }
        &__info {
            margin-left:9px;
            margin-bottom:27px;
            .row {
                position:relative;
                padding-left:34px;
                font-size:14px;
                line-height:23px;
                color:@black;
                margin-bottom:23px;
                &:last-child {
                    margin-bottom:0px;
                }
                svg {
                    position:absolute;
                    left:0px;
                    top:5px;
                }
            }
        }
        &__edit {
            margin-left:5px;
            .link {
                display:inline-block;
                cursor:pointer;
                margin-right:15px;
                &:last-child {
                    margin-right:0px;
                }
            }
        }
        &__search {
            margin-bottom:44px;
            .form {
                .flex-display(@display: flex);                
                .input {
                    font-size:14px;
                    padding:5px 10px 3px 0px;
                    border-bottom:1px solid @light_grey;
                    .placeholder(@light_grey);
                    color:@grey;
                    .flex-grow(@grow: 1);
                }
                .submit {
                    position:relative;
                    top:2px;
                    cursor:pointer;
                    background:transparent;
                    border:none;
                    outline:none;
                    .flex-basis(@width: 20px);
                    margin-right:10px;
                }
            }
            .result {
                padding-top:26px;
                margin-left:43px;
                ul {
                    li {
                        margin-bottom:25px;
                        &:last-child {
                            margin-bottom:0px;
                        }
                        .result__item {
                            cursor:pointer;
                            font-size:14px;                            
                            color:@black;
                            display:inline-block;
                            position:relative;
                            white-space:nowrap;
                            overflow:hidden;
                            max-width:100%;
                            text-overflow:ellipsis;
                            padding-bottom:5px;
                            &:before {
                                content:'';
                                display:block;
                                width:100%;
                                height:1px;
                                background:@red;
                                position:absolute;
                                left:0px;
                                bottom:0px;
                                .opacity(0);
                                .transition(0.2s);
                            }
                            &:hover {
                                &:before {
                                    .opacity(1);
                                }
                            }
                        }
                    }
                }
            }
        }
        &__save {
            .flex-display(@display: flex);
            .justify-content(@justify: space-between);
            .link {
                font-size:18px;
                color:@red;
                cursor:pointer;
            }
        }
    }
    .reports {
        &__title {
            text-align:right;
            margin-bottom:45px;
            .link {
                display:inline-block;
                padding-left:19px;
                position:relative;                
                span {
                    position:relative;
                    color:@grey;
                    font-size:14px;
                    &:before {
                        content:'';
                        display:block;
                        width:100%;
                        height:2px;
                        position:absolute;
                        left:0px;
                        bottom:-1px;
                        background:@grey;
                    }
                }
                svg {
                    position:absolute;
                    left:0px;
                    top:2px;
                }
            }
        }
        &__list {
            .item {
                display:block;
                position:relative;
                padding:0px 20px 0px 46px;                
                margin-bottom:40px;                
                span {
                    position:relative;
                    color:@black;
                    font-size:14px;
                    white-space:nowrap;
                    overflow:hidden;
                    max-width:100%; 
                    display:inline-block;
                    text-overflow:ellipsis;
                    padding-bottom:5px;
                }
                &:last-child {
                    margin-bottom:0px;
                }
                svg {
                    position:absolute;
                    right:0px;
                    top:-5px;  
                }
                &:before {
                    content:'';
                    display:block;
                    width:30px;
                    height:30px;
                    .rounded(50%);
                    position:absolute;
                    left:0px;
                    top:-9px;
                }
                &__green {                    
                    &:before {
                        background:@green;
                    }                                                            
                }
                &__orange {                    
                    &:before {
                        background:@orange;
                    }                    
                }
                &__blue {                    
                    &:before {
                        background:@blue;
                    }                    
                }
                &__light_blue {                    
                    &:before {
                        background:@light_blue;
                    }                    
                }
                &.act {
                    span {
                        &:before {
                            content:'';
                            display:block;
                            width:100%;
                            height:2px;
                            position:absolute;
                            left:0px;
                            bottom:0px;
                            background:red;
                        }
                    }
                }
            }
        }
        &__form {
            &__top {
                
            }
        }
    }
}

/* calendar */
.calendar {
    &__top {
        .flex-display(@display: flex); 
        .justify-content(@justify: space-between);
        margin-bottom:21px;
        .date_picker {
            &__nav {
                display:inline-block;
                vertical-align:middle;
                &__link {
                    display:inline-block;
                    vertical-align:middle;
                    position:relative;
                    top:1px;
                }
                .selected_date {
                    display:inline-block;
                    vertical-align:middle; 
                    color:@grey;
                    font-size:24px;
                    margin:0px 9px;
                }
            }
            &__current_date {
                display:inline-block;
                vertical-align:middle;
                color:@light_grey;
                font-size:18px;
                text-decoration:underline;
                margin-left:13px;
            }
        }
        .nav {
            &__item {
                font-size:18px;
                display:inline-block;
                margin-left:14px;
                color:@black;
                position:relative;
                &.act {
                    &:before{
                        content:'';
                        display:block;
                        width:100%;
                        height:2px;
                        position:absolute;
                        left:0px;
                        bottom:-3px;
                        background:@red;
                    }
                }
            }
        }
    }

    &__bottom {
        .calendar {
            &__days {
                display:table;
                width:100%;
                .row {
                    display:table-row;                    
                    .cell {
                        display:table-cell;
                        width:14%;
                        padding-bottom:22px;
                        padding-right:22px;
                        vertical-align:top;
                        .box {
                            background:@light_white;
                            min-height:90px;
                            position:relative;
                            padding:30px 11px 0px 13px;
                            .date {
                                position:absolute;
                                left:12px;
                                top:10px;
                                color:@grey;
                                font-size:12px;
                                font-weight:700;
                                &__disabled {
                                    color:@light_grey;
                                }
                            }
                            &__grey {
                                background:@grey;
                            }
                            &__red {
                                border:1px solid @red;
                            }
                            .items {
                                .item {
                                    line-height:12px;
                                    span {
                                        font-size:12px;
                                        line-height:12px;
                                        color:@black;
                                        padding-left:21px;
                                        position:relative;
                                        display:inline-block;
                                        &:before {
                                            content:'';
                                            display:block;
                                            width:12px;
                                            height:12px;
                                            .rounded(50%);
                                            position:absolute;
                                            left:0px;
                                            top:-1px;
                                        }
                                    }                                    
                                    margin-bottom:8px;
                                    &:nth-child(2) {
                                        margin-bottom:6px;
                                    }
                                    &:last-child {
                                        margin-bottom:0px;
                                    }
                                    
                                    &__green {
                                        span {
                                            &:before {
                                                background:@green;
                                            }
                                        }                                        
                                    }
                                    &__orange {
                                        span {
                                            &:before {
                                                background:@orange;
                                            }
                                        }
                                    }
                                    &__blue {
                                        span {
                                            &:before {
                                                background:@blue;
                                            }
                                        }
                                    }
                                    &__light_blue {
                                        span {
                                            &:before {
                                                background:@light_blue;
                                            }
                                        }
                                    }
                                    &__more {
                                        padding-left:0px;
                                        &__btn {
                                            color:@grey;
                                            font-size:12px;
                                            cursor:pointer;
                                            text-decoration:underline;
                                        }
                                    }
                                    &__bordered {
                                        span {
                                            position:relative;
                                            &:after {
                                                content:'';
                                                display:block;
                                                width:100%;
                                                height:2px;
                                                position:absolute;
                                                left:0px;
                                                bottom:-5px;
                                                background:@red;
                                            }
                                        }                                        
                                    }
                                }
                            }
                        }
                    }
                    &__title {
                        color:@grey;
                        font-size:12px;
                        .cell {
                            padding-left:12px;
                            padding-bottom:8px;
                        }                        
                    }
                }
            }
            &__day {
                .item {
                    height:56px;
                    .flex-display(@display: flex);
                    .align-items(@align: center);
                    .time {
                        .flex-basis(@width: 52px);
                        width:52px;
                        max-width:52px;
                        font-size:12px;
                        color:@grey;
                    }
                    .descr {
                        span {
                            position:relative; 
                            color:@black;
                            font-size:14px;
                            display:inline-block;
                            padding-left:47px;
                            &:before {
                                content:'';
                                display:block;
                                width:30px;
                                height:30px;
                                .rounded(50%);
                                position:absolute;
                                left:0px;
                                top:-9px;
                            }
                        }
                    }
                    &__green { 
                        .descr {
                            span {
                                &:before {
                                    background:@green;
                                }
                            }
                        }
                    }     
                    &__orange { 
                        .descr {
                            span {
                                &:before {
                                    background:@orange;
                                }
                            }
                        }
                    }  
                    &__blue { 
                        .descr {
                            span {
                                &:before {
                                    background:@blue;
                                }
                            }
                        }
                    }  
                    &__light_blue { 
                        .descr {
                            span {
                                &:before {
                                    background:@light_blue;
                                }
                            }
                        }
                    }  
                }
            }
            &__year {                
                .row {
                    .flex-display(@display: flex);
                    .justify-content(@justify: space-between);
                    margin-bottom:19px;
                    &:last-child {
                        margin-bottom:0px;
                    }
                }
                .item {
                    .flex-basis(@width: 22%);
                    width:22%; 
                    min-width:22%;
                    .month {
                        font-size:14px;
                        color:@grey;
                        margin-bottom:10px;
                        padding-left:7px;
                    }
                    .table {
                        display:table;
                        width:100%;
                        &-row {
                            display:table-row;
                        }
                        &-cell {
                            display:table-cell;
                            vertical-align:top;
                            width:14%;
                            text-align:center;
                            padding-bottom:6px;
                            .date {
                                font-size:12px;
                                color:@black;
                                position:relative;
                                display:inline-block;
                                &__disabled {
                                    color:@light_grey;
                                }
                                &__act {                                    
                                    &:before {
                                        content:'';
                                        display:block;
                                        width:26px;
                                        height:26px;
                                        .rounded(50%);
                                        background:@light_grey;
                                        position:absolute;
                                        //left:-10px;
                                        left:50%;
                                        .translate(@x:-50%);
                                        top:-8px;
                                        z-index:-1;
                                    }
                                }
                            }
                            .events {
                                position: absolute;
                                top:0px;
                                left:11px;
                                .event {
                                    position:absolute;
                                    top:-3px;
                                    display:block;
                                    &:nth-child(1) {
                                        left:0px;
                                    }     
                                    &:nth-child(2) {
                                        left:6px;
                                    } 
                                    &:nth-child(3) {
                                        left:12px;
                                    }                                
                                    &__circle {
                                        width:8px;
                                        height:8px;
                                        .rounded(50%);
                                    }
                                    &__green {                    
                                        background:@green;                                       
                                    }
                                    &__orange {                    
                                        background:@orange;
                                    }
                                    &__blue {                    
                                        background:@blue;
                                    }
                                    &__light_blue {                    
                                        background:@light_blue;
                                    }
                                    &__more {
                                        top:-3px;
                                        display:block;
                                        svg {
                                            display:block;
                                        }
                                    }
                                }
                            }
                        }
                        &__title {
                            margin-bottom:12px;
                            .table-cell {
                                color:@grey;
                                font-size:12px;
                            }
                        }
                    }
                }
            }
            &__week {
                .flex-display(@display: flex);
                .justify-content(@justify: space-between);
                padding-bottom:63px;
                .day {
                    .flex-basis(@width: 12.40458015267176%); /* 130 1048 */
                    .flex-display(@display: flex);
                    .flex-direction(@direction: column);
                    max-width:12.40458015267176%;
                    width:12.40458015267176%;
                    &__title {
                        font-size:12px;
                        color:@grey;
                        margin-bottom:8px;
                        .flex-shrink(@shrink: 0);
                        text-transform:uppercase;
                        padding-left:11px;
                    }
                    &__list {
                        .flex-grow(@grow: 1);
                        .flex-shrink(@shrink: 0);
                        .flex-basis(@width: auto);
                        position:relative;
                        background:@light_white;  
                        padding:61px 5px 15px 10px;
                        .date {
                            position:absolute;
                            left:11px;
                            top:23px;
                            font-size:12px;
                            color:@black;
                        }
                        .item {
                            position:relative;
                            padding-left:20px;
                            font-size:12px;
                            line-height:14px;
                            color:@black;
                            margin-bottom:25px;
                            &:last-child {
                                margin-bottom:0px;
                            }
                            &:before {
                                content:'';
                                display:block;
                                width:12px;
                                height:12px;
                                position:absolute;
                                left:0px;
                                top:0px;  
                                .rounded(50%);                              
                            }
                            &__green {                    
                                &:before {
                                    background:@green;
                                }                                                            
                            }
                            &__orange {                    
                                &:before {
                                    background:@orange;
                                }                    
                            }
                            &__blue {                    
                                &:before {
                                    background:@blue;
                                }                    
                            }
                            &__light_blue {                    
                                &:before {
                                    background:@light_blue;
                                }                    
                            }
                            .time {
                                display:block;
                            }
                            .name {
                                display:block;
                                word-wrap:break-word;
                            }
                        }
                    }
                    &__act {
                        .day__list {
                            background:@light_grey;
                        }                        
                    }
                }
            }
        }
    }
}






.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
._show {
    display:block!important;
}
._hide {
    display:none!important;
}

@media screen and (max-width: 1450px) and (min-width: 980px) {

}

@media screen and (max-width: 979px) and (min-width: 768px) {

}

@media screen and (max-width: 767px) {

}



